.size {
  position: fixed;
  top: 15vh;
  left: 25vw;
}

body{
  background-color: #4ea464;
}


h1{
  text-align: center;
  background-color: #bcf8dd;
  border-radius: 25px;
  padding: 20px; 
  width: 80vw;
  margin: 0 auto;
}
